@font-face {
   font-family: 'FontsFree-Net-roxborough-cf-light';
   font-display: swap;
   src: url('file:///C:/Users/elias/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-13_124219/fonts/FontsFree-Net-roxborough-cf-light/font.ttf');
}
